<section data-ng-controller="HomeController">

	<div class="jumbotron text-center">
		<div class="row">
			<p class="lead">
				<h1>Кой е ФОФИСА!</h1>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 padding-left-90">
				<img src="img/gogo.jpg" alt="" class="img-circle home-head active">
				<span>
				<p>Гого е ФОФИСА</p>
						<a href=""><img src="img/skype.png" alt="skype" class="icons"></a>
						<a href=""><img src="img/slack.png" alt="slack" class="icons"></a>
						<a href=""><img src="img/email.png" alt="slack" class="icons"></a>
				</span>
		</div>
		<div class="col-md-3 padding-left-90">
				<img src="img/zhan.jpg" alt="" class="img-circle home-head active">
				<span>
				<p>Жан е ФОФИСА</p>
						<a href=""><img src="img/skype.png" alt="skype" class="icons"></a>
						<a href=""><img src="img/slack.png" alt="slack" class="icons"></a>
						<a href=""><img src="img/email.png" alt="slack" class="icons"></a>
				</span>

		</div>
		<div class="col-md-3 padding-left-90">
				<img src="img/vesko.jpg" alt="" class="img-circle home-head away">
				<span class="hidden">
				<p>Веско ака</p>
						<a href=""><img src="img/skype.png" alt="skype" class="icons"></a>
						<a href=""><img src="img/slack.png" alt="slack" class="icons"></a>
						<a href=""><img src="img/email.png" alt="slack" class="icons"></a>
				</span>
		</div>
		<div class="col-md-3 padding-left-90">
				<img src="img/dani.jpg" alt="" class="img-circle home-head offline">
				<span>
				<p>Дани не е в ФОФИСА</p>
						<a href=""><img src="img/skype.png" alt="skype" class="icons"></a>
						<a href=""><img src="img/slack.png" alt="slack" class="icons"></a>
						<a href=""><img src="img/email.png" alt="slack" class="icons"></a>
				</span>
		</div>
	</div>
</section>

        <div class="col-md-6 padding-left-90">
            <h2 class="text-center">Най-много хора за семицата</h1>
                <div id="canvas-holder">
                    <canvas id="peoplePerDay" width="400" height="400" />
                </div>
        </div>
        <div class="col-md-6 padding-left-90">
            <h2 class="text-center">Топ 3 за последните 7 дни</h1>
                <div id="canvas-holder">
                    <canvas id="top3" width="400" height="400" />
                </div>
        </div>
    </div>
</section>

