.content {
    margin-top: 50px;
}
.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
.ng-valid.ng-dirty {
    border-color: #78FA89;
}
.home-head {
    width: 120px;
    height: 120px;
}
.icons {
    width: 25px;
    height: auto;
}
.padding-left-90 {
    padding-left: 90px;
    text-align: center;
}
.row span {
    display: block;
    padding: 10px 0 0 0;
}
span {
    background-color: #fff;
}
.margin-top-40 {
    margin-top: 40px;
}
.active {
    box-shadow: 0px 0px 25px #00FF20;
}
.away {
    box-shadow: 0px 0px 25px #EFFF00;
}
.offline {
    box-shadow: 0px 0px 25px #FF0000;
}
@import url(http://fonts.googleapis.com/css?family=Pompiere);
.container {
    margin-top: 20px;
}
.glyphicon {
    float: left;
}
span.glyphicon {
    padding-top: 3px;
}
.center {
    margin: 0 auto;
}
nav div, h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}
.nav li {
    margin-top: 12px;
    font-size: 24px;
    text-transform: uppercase;
}
.nav li a {
    color: #000;
}
.nav li:last-child {
    margin-bottom: 10px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus {
    color: #000;
    background-color: transparent;
}
.nav-pills>li.active>a:hover {
    background-color: #eee;
    color: #000;
}
.carousel-control.left, .carousel-control.right {
    top: 40%;
    background: none;
    font-size: 50px;
}
.carousel-caption {
    font-size: 28px;
    bottom: 0;
}
.post {
    margin-bottom: 30px;
}
a.thumbnail:hover, a.thumbnail:focus {
    border: 1px solid black;
}
footer p {
    text-align: center;
}
@media (max-width: 992px) {
    .carousel-caption {
        font-size: 18px;
    }
    .nav li {
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .thumbnail {
        border: none;
    }
    a.thumbnail:hover, a.thumbnail:focus {
        border: none;
    }
}