.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.home-head{
	width: 120px;
	height: 120px;
}

.icons{
	width: 25px;
	height: auto;
}

.padding-left-90{
	padding-left: 90px;
	text-align: center;
}

.row span{
	display: block;
	padding: 10px 0 0 0;
}

span{
	background-color: #fff;
}

.active{
	box-shadow: 0px 0px 25px #00FF20;
}

.away{
	box-shadow: 0px 0px 25px #EFFF00;
}

.offline{
	box-shadow: 0px 0px 25px #FF0000;
}
