<section data-ng-controller="DevlabstersController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="devlabster.name"></h1>
		<div data-ng-bind="devlabster.slack"></div>
		<div data-ng-bind="devlabster.skype"></div>
		<div data-ng-bind="devlabster.email"></div>
		<div data-ng-bind="devlabster.mac_addresses"></div>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == devlabster.user._id))">
		<a class="btn btn-primary" href="/#!/devlabsters/{{devlabster._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="devlabster.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="devlabster.user.displayName"></span>
		</em>
	</small>
</section>
